.k8s-sidebar {
  background-color: #303C43;
  height: 100%;
  width: 250px;
  min-height: 100vh;
  display: flex;
  position: fixed;
  color: #fff;
  margin-top: $navbar-height;
  padding: 0.9375rem;
  flex-direction: column;

  section {
    margin-bottom: 10px;

    .nav > li > a {
      padding: 8px 10px;
    }

    .nav > li.active,
    .nav > li > a:hover,
    .nav > li > a:focus {
      background-color: #326DE6;
      color: #fff;
      border-radius: 3px;
      text-shadow: 1px 1px 1px #304586;
    }

    .heading {
      font-size: 12px;
      margin-bottom: 5px;
      padding-bottom: 0px;
      padding-left: 10px;
      text-transform: uppercase;
      font-weight: normal;
      color: lighten(#303C43, 40);
      display: block;
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
        color: darken(white, 20)
      }
    }
  }
}