/* k8s vars */
$navbar-height: 75px;
$navbar-background-color: #3F51B5;
$text-shadow-blue-background: 1px 1px 1px #556AA9;

/* bootstrap overwrites */
$body-bg: #EDF0F0;
$brand-primary: #3F51B5;
$navbar-light-background-color: #fff;
$navbar-default-link-color: lighten($navbar-background-color, 70);
$navbar-default-link-hover-color: #fff;
$navbar-default-brand-hover-bg: #fff;
$navbar-default-color: #fff;
$navbar-default-link-hover-bg: darken(#326DE6, 20);
$navbar-default-link-active-bg: $navbar-default-link-hover-bg;
$navbar-default-link-active-color: #fff;
$navbar-default-border: $navbar-background-color;
$navbar-default-bg: $navbar-background-color;

$border-radius-large: 0;

/* font-awesome overwrites */
$fa-font-path: "../bower_components/font-awesome/fonts";


@import "./../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "./../bower_components/font-awesome/scss/font-awesome";

body {
  font-family: 'Lato', sans-serif;
}

.modal-header {
  background-color: $navbar-background-color;
  color: #fff;
  text-shadow: $text-shadow-blue-background;
}

.btn.btn-primary {
  text-shadow: $text-shadow-blue-background;
}

.k8s-main-content {
  padding-top: $navbar-height + 20px;
  flex-grow: 1;
  margin-left: 250px;
  padding-bottom: 30px;

  .page-heading {
    margin-bottom: 25px;
    @include clearfix;

    h1, h2, h3, .page-title {
      display: inline-block;
      float: left;
      margin-top: 0;
    }
  }
}

/* basic box styles */
.k8s-bordered-box {
  background: #fff;
  box-shadow: 0 0 5px #CACDD8;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px #CCD0DC solid;
  
  .k8s-bordered-box-header {
    background: $brand-primary;
    color: #fff;
    text-shadow: $text-shadow-blue-background;
    padding: 10px;
  }

  .k8s-bordered-box-body {
    padding: 10px;
  }
  .k8s-bordered-box-title {
    margin: 0;
    font-size: 16px;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

